
<link rel="import" href="../../bower_components/core-icon/core-icon.html">
<link rel="import" href="../../bower_components/core-icons/core-icons.html">
<link rel="import" href="../../bower_components/core-field/core-field.html">
<link rel="import" href="../../bower_components/core-collapse/core-collapse.html">
<link rel="import" href="../../bower_components/core-animation/core-animation.html">
<link rel="import" href="../../bower_components/core-animation/core-animation-group.html">
<link rel="import" href="../zafiro-base/zafiro-base.html">
<link rel="import" href="../zafiro-form/zafiro-form.html">

<polymer-element name="zafiro-search" extends="zafiro-base" attributes="zfConfig zfSearch placeholder deployedWidth" on-blur="{{blur}}">
  <template>
  	<style type="text/css">
  		:host {
        padding: 0px;
        /*min-width: 440px;*/
        min-height: 40px;
  		}

  		#field {
  			background-color: white;
        min-width: 440px;
        padding-left: 32px;
        transform: translateX(24px);
  		}

  		core-collapse {
  			background-color: white;
  			border: 1px solid rgba(0, 0, 0, 0.5);
  			position: absolute;
  			top: 0px;
  			min-width: 400px;
  			right: 0px;
  			left: 0px;
        padding: 10px;
  		}
      col-container {
        width: 100%;
      }

      #colIcon {
        cursor: pointer;
      }
      #fieldContainer {
        min-height: 40px;
        overflow: hidden;
      }

      #form {
        color: black;
      }
  		.hidden {
  			display: none;
  		}
  	</style>
    <div layout horizontal center relative id="fieldContainer">
    	<core-field id="field" fit>
  	    <input id="buscar" type="text" placeholder="{{placeholder}}" value="{{searchValue}}" flex/>
  	    <core-icon id="colIcon" on-click="{{colToggle}}" icon="arrow-drop-down">
          <core-animation id="rotateCW" target="{{$.colIcon}}" duration="300">
            <core-animation-keyframe>
              <core-animation-prop name="transform" value="rotate(0deg)"/>
            </core-animation-keyframe>
            <core-animation-keyframe>
              <core-animation-prop name="transform" value="rotate(180deg)"/>
            </core-animation-keyframe>
          </core-animation>
          <core-animation id="rotateCCW" target="{{$.colIcon}}" duration="300">
            <core-animation-keyframe>
              <core-animation-prop name="transform" value="rotate(0deg)"/>
            </core-animation-keyframe>
            <core-animation-keyframe>
              <core-animation-prop name="transform" value="rotate(-180deg)"/>
            </core-animation-keyframe>
          </core-animation>
        </core-icon>
        <core-animation-group type="par" id="showField" >
          <core-animation target="{{$.field}}" duration="50">
            <core-animation-keyframe>
              <core-animation-prop name="transform" value="translateX(24px)"/>
            </core-animation-keyframe>
            <core-animation-keyframe>
              <core-animation-prop name="transform" value="translateX(0px)"/>
            </core-animation-keyframe>
          </core-animation>
          <!--core-animation target="{{$.iconSearch}}" duration="50">
            <core-animation-keyframe>
              <core-animation-prop name="color" value="{{inheritedColor}}"/>
            </core-animation-keyframe>
            <core-animation-keyframe>
              <core-animation-prop name="color" value="rgba(0, 0, 0, 1)"/>
            </core-animation-keyframe>
          </core-animation-->
          <core-animation target="{{$.fieldContainer}}" duration="200">
            <core-animation-keyframe>
              <core-animation-prop name="width" value="24px"/>
            </core-animation-keyframe>
            <core-animation-keyframe>
              <core-animation-prop name="width" value="{{deployedWidth}}"/>
            </core-animation-keyframe>
          </core-animation>
        </core-animation-group>
        <core-animation-group type="par" id="hideField" >
          <core-animation target="{{$.field}}" duration="50">
            <core-animation-keyframe>
              <core-animation-prop name="transform" value="translateX(0px)"/>
            </core-animation-keyframe>
            <core-animation-keyframe>
              <core-animation-prop name="transform" value="translateX(24px)"/>
            </core-animation-keyframe>
          </core-animation>
          <!--core-animation target="{{$.iconSearch}}" duration="50">
            <core-animation-keyframe>
              <core-animation-prop name="color" value="{{inheritedColor}}"/>
            </core-animation-keyframe>
            <core-animation-keyframe>
              <core-animation-prop name="color" value="rgba(0, 0, 0, 1)"/>
            </core-animation-keyframe>
          </core-animation-->
          <core-animation target="{{$.fieldContainer}}" duration="200">
            <core-animation-keyframe>
              <core-animation-prop name="width" value="{{deployedWidth}}"/>
            </core-animation-keyframe>
            <core-animation-keyframe>
              <core-animation-prop name="width" value="24px"/>
            </core-animation-keyframe>
          </core-animation>
        </core-animation-group>
  	  </core-field>
      <core-icon icon="search" id="iconSearch" on-click="{{fieldToggle}}"></core-icon>
    </div>
	  <div class="col-container" relative>
		  <core-collapse id="collapse">
	    	<zafiro-form id="form" zfConfig="{{configName}}" ngmodel="{{modelName}}" on-submit="{{fireSearch}}"></zafiro-form>
		  </core-collapse>
	  </div>
  </template>
  <script>
    

  	Polymer({
  		searchValueChanged: function() {
  			var config, tokenArray=[], match, text, self=this;
  			this.job('searchValue', function() {
	  			if(self.scope.hasOwnProperty(self.zfConfig)) {
	  				config = self.scope[self.zfConfig];
	  			} else if(typeof self.zfConfig=='string') {
	  				try {
	  					config = JSON.parse(self.zfConfig);
	  				} catch(e) {

	  				}
	  			} else if(typeof self.zfConfig == 'object') {
	  				config = self.zfConfig;
	  			}
	  			if(!config) return;
	  			var keys = Object.keys(config);
	            var reg = new RegExp("(?:^|\\W)(?:("+keys.join('|')+"):)(\\s*(?:\\([^)]+|\\[[^\\]]+|\"[^\"]+|'[^']+)(?:\\)|\\]|\"|')?|\\S+)(.*)");
	  			text = self.searchValue;
	  			while(match = text.match(reg)) {
	                if(!new RegExp("^"+match[1]+':').test(text)) {
	                  tokenArray.push({key: 'allFields', value: (text.split(match[1]+':')[0].trim())});
	                }
	                var token = {key: match[1]};
	                var submatch;
	                if(submatch = match[2].match(/^(\s)/)) {
	                	token.prespace = submatch[1];
	                	match[2] = match[2].substring(submatch[1].length);
	                } else {
	                	token.prespace = '';
	                }
	                if(submatch = match[2].match(/^("|')/)) {
	                	token.grouping = submatch[1];
	                	match[2] = match[2].replace(new RegExp(submatch[1], 'g'), '');
	                } else {
	                	token.grouping = '';
	                }
	                token.value = match[2];
	                tokenArray.push(token);
	                text = match[3].trim();
	            }
	            if(text.length) {
	            	tokenArray.push({key: 'allFields', value: text});
	            }
	            if(self.tokenArray != tokenArray) {
	            	self.tokenArray = tokenArray;
	            	var assinged = {};
	            	self.allFields = [];
	            	self.tokenArray.forEach(function(token) {
	            		if(token.key == 'allFields') {
	            			self.allFields.push(token.value);
	            		} else if(!assinged[token.key]) {
	            			assinged[token.key] = true;
	            			if(self.ngModel[token.key].trim() != token.value.trim()) {
	            				self.ngModel[token.key] = token.value;
	            			}
	            		}
	            	});
	            };
	        }, 300);
  		},
  		scoped: function() {
	      var self = this;
  		  this.$.buscar.addEventListener('keyup', function(event) {
	       if(event.keyCode == 13) {
	         self.fireSearch();
	       } 
	      });
  		},
      attached: function() {
        this.$.collapse.addListeners(this.$.collapse);
      },
      zfScopeChanged: function(change, path) {
        if(path.indexOf(this.zs_.origValues.zfConfig) != -1) {
          if(!this.zfConfig || this.zfConfig._buttons) return;
          
          function hasSubmit(config) {
            var submitFound = false;  
            for(var i in config) {
              var conf = config[i];
              if(conf instanceof Array) {
                conf.forEach(function(conf) {
                  if(!submitFound && (!conf.element || conf.element == 'input' || conf.element == 'button') && conf.type == 'submit') {
                    submitFound = true;
                  }
                });
                if(submitFound) break;
              } else if((!conf.element || conf.element == 'input' || conf.element == 'button') && conf.type == 'submit') {
                submitFound = true;
                break;
              }
            }
            return submitFound;
          }
          
          if(!hasSubmit(this.zfConfig)) {
            this.zfConfig._buttons = {
              type: 'container',
              atts: {
                reverse: true
              },
              children: {
                _submit: {
                  type: 'submit',
                  element: 'button',
                  icon: 'search',
                  atts: {
                    raised: true
                  }
                }
              }
            };
              
          }
          return;
        }
      	!this.tokenArray && (this.tokenArray=[]);
      	var changed = false;
      	var self = this;
       	for(var i in this.ngModel) {
       		if(!this.ngModel[i]) {
       			this.tokenArray = this.tokenArray.filter(function(token, index) {
       				if(token.key == i) {
       					changed = true;
       					return false;
       				}
       				return true;
       			});
       			continue;
       		}
       		var allFieldsText='';
       		var inTokenArray = false;
       		if(i=='allFields') {
       			inTokenArray=true;
       			allFieldsText=self.ngModel[i].trim();
       		}
       		this.tokenArray.forEach(function(token) {
       			if(token.key != 'allFields' && token.key == i && !inTokenArray) {
       				inTokenArray = true;
       				if(token.value != self.ngModel[i]) {
	       				token.value = self.ngModel[i];
	       				var match = self.ngModel[i].match(/^(\(|\[)/);
	       				/*if(match && !new RegExp(".+\\"+(match[1]=='('?')':']')+'.*').test(self.ngModel[i])) {
	       					self.ngModel[i] += match[1]=='('?')':']';
	       				}*/
	       				token.grouping = (!match||new RegExp(".+\\"+(match[1]=='('?')':']')+'.+').test(self.ngModel[i]))&&self.ngModel[i].split(' ').length>1?(token.grouping?token.grouping:'"'):'';
	       				changed = true;
	       			}
       			} else if(i=='allFields' && token.key == i && token.value.trim() == allFieldsText.substring(0, token.value.trim().length)) {
       				allFieldsText = allFieldsText.substring(token.value.trim().length).trim();
       			}
       		});
       		if(!inTokenArray||allFieldsText.length) {
       			changed = true;
       			var match = this.ngModel[i].match(/^(\(|\[)/);
/*    			if(match && !new RegExp(".+\\"+(match[1]=='('?')':']')+'.*').test(self.ngModel[i])) {
					self.ngModel[i] += match[1]=='('?')':']';
				}*/
       			this.tokenArray.push({key: i, value: i=='allFields'?allFieldsText:this.ngModel[i], grouping:(!match||new RegExp(".+\\"+match[1]=='('?')':']'+'.+').test(this.ngModel[i]))&&this.ngModel[i].split(' ').length>1?'"':'', prespace: ''});
       		}
       	}
       	if(changed) {
       		this.searchValue = this.tokenArray.map(function(token) {
       			if(token.key=='allFields') {
       				return token.value;
       			} else {
       				return token.key+':'+token.prespace+token.grouping+token.value+token.grouping;
       			}
       		}).join(' ');
       	}
      },
  		colToggle: function (close) {
        //Toggle dropdown
        this.job('toggle', function(){
          if((typeof close=='object' || close) && this.$.collapse.opened) {
            this.$.rotateCCW.play();
            this.$.collapse.toggle();
          } else if((typeof close=='object' || !close) && !this.$.collapse.opened) {
            this.$.rotateCW.play();
            this.$.collapse.toggle();
          }
        }, 150);
  		},
      fieldToggle: function() {
        !this.inheritedColor && (this.inheritedColor = this.getStyle(this.$.iconSearch, 'color'));
        if(!this.shownField) {
          this.$.showField.play();
        } else {
          this.$.hideField.play();
        }
        this.shownField = !this.shownField;
      },
      getStyle: function(elem, property) {
        if (elem.currentStyle) {
            var value = elem.currentStyle[property];
        } else if (window.getComputedStyle) {
            var value = window.getComputedStyle(elem, null).getPropertyValue(property);
        }
        return value;
      },
  		created: function() {
  			this.super();
        this.deployedWidth = "472px";
        this.shownField = false;
        this.placeholder="Search";
  			this.zs_.add('zfConfig');
  		},
  		ready: function() {
        //call zafiro-base ready method
        this.configName = this.zfConfig;
        this.modelName = this.ngModel;
  			this.super();

        this.zfConfigChanged();

        //Animation for dropdown icon
        var self = this;
        this.$.rotateCCW.addEventListener('core-animation-finish', function() {
          self.$.colIcon.icon = 'arrow-drop-down';
        });
        this.$.rotateCW.addEventListener('core-animation-finish', function() {
          self.$.colIcon.icon = 'arrow-drop-up';
          self.$.form.focus();
        });
        this.$.showField.addEventListener('core-animation-finish', function() {
          self.$.field.style.transform = "translateX(0px)";
          self.$.iconSearch.style.color = "rgba(0,0,0,1)";
          self.$.fieldContainer.style.width = self.deployedWidth;
        });
        this.$.hideField.addEventListener('core-animation-finish', function() {
          self.$.field.style.transform = "translateX(24px)";
          self.$.iconSearch.style.color = self.inheritedColor;
          self.$.fieldContainer.style.width = "24px";
        });
  		},
      zfConfigChanged: function() {
        //Hide dropdown if no configuration was found
        if(!this.zfConfig) {
          this.$.colIcon.className = 'hidden';
        } else {
          this.$.colIcon.className = '';
        }
      },
  		fireSearch: function() {
  			/*this.tokenArray = this.tokenArray.filter(function(token, index) {
   				if(token.key == 'allFields') {
   					return false;
   				}
   				return true;
   			});
   			var allFieldsText = this.allFields.join(' ');*/
  			this.ngModel.allFields = this.allFields.join(' ');
  			this.fire('search')
  		},
      blur: function(event) {
        if(this.$.collapse.opened) {
          this.colToggle(true);
        }
      }
  	});
  </script>
</polymer-element>