
<link rel="import" href="../../bower_components/core-icon/core-icon.html">
<link rel="import" href="../../bower_components/core-icons/core-icons.html">
<link rel="import" href="../../bower_components/core-field/core-field.html">
<link rel="import" href="../../bower_components/core-collapse/core-collapse.html">
<link rel="import" href="../../bower_components/core-animation/core-animation.html">
<link rel="import" href="../zafiro-base/zafiro-base.html">
<link rel="import" href="../zafiro-form/zafiro-form.html">

<polymer-element name="zafiro-search" extends="zafiro-base" attributes="zfConfig zfSearch placeholder">
  <template>
  	<style type="text/css">
  		:host {
  			color: black;
        padding: 0px;
  		}
  		core-field {
  			background-color: white;
  			min-width: 400px
  		}
  		core-collapse {
  			background-color: white;
  			border: 1px solid rgba(0, 0, 0, 0.5);
  			position: absolute;
  			top: 0px;
  			min-width: 400px;
  			right: 0px;
  			left: 0px;
        padding: 10px;
  		}
      col-container {
        width: 100%;
      }

  		.hidden {
  			display: none;
  		}
  	</style>
  	<core-field>
  		<core-icon icon="search"></core-icon>
	    <input id="buscar" type="text" placeholder="{{placeholder}}" value="{{searchValue}}" flex/>
	    <core-icon id="colIcon" on-click="{{colToggle}}" icon="arrow-drop-down">
        <core-animation id="rotateCW" target="{{$.colIcon}}" duration="300">
          <core-animation-keyframe>
            <core-animation-prop name="transform" value="rotate(0deg)"/>
          </core-animation-keyframe>
          <core-animation-keyframe>
            <core-animation-prop name="transform" value="rotate(180deg)"/>
          </core-animation-keyframe>
        </core-animation>
        <core-animation id="rotateCCW" target="{{$.colIcon}}" duration="300">
          <core-animation-keyframe>
            <core-animation-prop name="transform" value="rotate(0deg)"/>
          </core-animation-keyframe>
          <core-animation-keyframe>
            <core-animation-prop name="transform" value="rotate(-180deg)"/>
          </core-animation-keyframe>
        </core-animation>
      </core-icon>
	</core-field>
	<div class="col-container" relative>
		<core-collapse id="collapse">
	    	<zafiro-form zfConfig="{{zfConfig}}" ngmodel="{{zs_.origValues.ngModel}}" on-submit="{{fireSearch}}"></zafiro-form>
		</core-collapse>
	</div>
  </template>
  <script>
    var debounce = function(delay) {
      this.t;
      this.debouncing = false;
      var self = this;
      return function(cb) {
        self.debouncing = true;
        if(self.t) clearTimeout(self.t);
        self.t = setTimeout(function() {
          self.debouncing = false;
          cb();
        }, delay);
      };
    };

  	Polymer({
  		searchValueChanged: function() {
  			var config, tokenArray=[], match, text, self=this;
  			this.debouncedKeyup(function() {
	  			if(self.scope.hasOwnProperty(self.zfConfig)) {
	  				config = self.scope[self.zfConfig];
	  			} else if(typeof self.zfConfig=='string') {
	  				try {
	  					config = JSON.parse(self.zfConfig);
	  				} catch(e) {

	  				}
	  			} else if(typeof self.zfConfig == 'object') {
	  				config = self.zfConfig;
	  			}
	  			if(!config) return;
	  			var keys = Object.keys(config);
	            var reg = new RegExp("(?:^|\\W)(?:("+keys.join('|')+"):)(\\s*(?:\\([^)]+|\\[[^\\]]+|\"[^\"]+|'[^']+)(?:\\)|\\]|\"|')?|\\S+)(.*)");
	  			text = self.searchValue;
	  			while(match = text.match(reg)) {
	                if(!new RegExp("^"+match[1]+':').test(text)) {
	                  tokenArray.push({key: 'allFields', value: (text.split(match[1]+':')[0].trim())});
	                }
	                var token = {key: match[1]};
	                var submatch;
	                if(submatch = match[2].match(/^(\s)/)) {
	                	token.prespace = submatch[1];
	                	match[2] = match[2].substring(submatch[1].length);
	                } else {
	                	token.prespace = '';
	                }
	                if(submatch = match[2].match(/^("|')/)) {
	                	token.grouping = submatch[1];
	                	match[2] = match[2].replace(new RegExp(submatch[1], 'g'), '');
	                } else {
	                	token.grouping = '';
	                }
	                token.value = match[2];
	                tokenArray.push(token);
	                text = match[3].trim();
	            }
	            if(text.length) {
	            	tokenArray.push({key: 'allFields', value: text});
	            }
	            if(self.tokenArray != tokenArray) {
	            	self.tokenArray = tokenArray;
	            	var assinged = {};
	            	self.allFields = [];
	            	self.tokenArray.forEach(function(token) {
	            		if(token.key == 'allFields') {
	            			self.allFields.push(token.value);
	            		} else if(!assinged[token.key]) {
	            			assinged[token.key] = true;
	            			if(self.ngModel[token.key].trim() != token.value.trim()) {
	            				self.ngModel[token.key] = token.value;
	            			}
	            		}
	            	});
	            };
	        });
  		},
  		scoped: function() {
	        var self = this;
	        this.debouncedKeyup = new debounce(300);
  			this.$.buscar.addEventListener('keyup', function(event) {
	          if(event.keyCode == 13) {
	            self.fireSearch();
	          } 
	        });
  		},
      attached: function() {
        this.$.collapse.addListeners(this.$.collapse);
      },
      zfScopeChanged: function(change, path) {
      	!this.tokenArray && (this.tokenArray=[]);
      	var changed = false;
      	var self = this;
       	for(var i in this.ngModel) {
       		if(!this.ngModel[i]) {
       			this.tokenArray = this.tokenArray.filter(function(token, index) {
       				if(token.key == i) {
       					changed = true;
       					return false;
       				}
       				return true;
       			});
       			continue;
       		}
       		var allFieldsText='';
       		var inTokenArray = false;
       		if(i=='allFields') {
       			inTokenArray=true;
       			allFieldsText=self.ngModel[i].trim();
       		}
       		this.tokenArray.forEach(function(token) {
       			if(token.key != 'allFields' && token.key == i && !inTokenArray) {
       				inTokenArray = true;
       				if(token.value != self.ngModel[i]) {
	       				token.value = self.ngModel[i];
	       				var match = self.ngModel[i].match(/^(\(|\[)/);
	       				/*if(match && !new RegExp(".+\\"+(match[1]=='('?')':']')+'.*').test(self.ngModel[i])) {
	       					self.ngModel[i] += match[1]=='('?')':']';
	       				}*/
	       				token.grouping = (!match||new RegExp(".+\\"+(match[1]=='('?')':']')+'.+').test(self.ngModel[i]))&&self.ngModel[i].split(' ').length>1?(token.grouping?token.grouping:'"'):'';
	       				changed = true;
	       			}
       			} else if(i=='allFields' && token.key == i && token.value.trim() == allFieldsText.substring(0, token.value.trim().length)) {
       				allFieldsText = allFieldsText.substring(token.value.trim().length).trim();
       			}
       		});
       		if(!inTokenArray||allFieldsText.length) {
       			changed = true;
       			var match = this.ngModel[i].match(/^(\(|\[)/);
/*    			if(match && !new RegExp(".+\\"+(match[1]=='('?')':']')+'.*').test(self.ngModel[i])) {
					self.ngModel[i] += match[1]=='('?')':']';
				}*/
       			this.tokenArray.push({key: i, value: i=='allFields'?allFieldsText:this.ngModel[i], grouping:(!match||new RegExp(".+\\"+match[1]=='('?')':']'+'.+').test(this.ngModel[i]))&&this.ngModel[i].split(' ').length>1?'"':'', prespace: ''});
       		}
       	}
       	if(changed) {
       		this.searchValue = this.tokenArray.map(function(token) {
       			if(token.key=='allFields') {
       				return token.value;
       			} else {
       				return token.key+':'+token.prespace+token.grouping+token.value+token.grouping;
       			}
       		}).join(' ');
       	}
      },
  		colToggle: function () {
        //Toggle dropdown
        if(this.$.collapse.opened) {
          this.$.rotateCCW.play();
        } else {
          this.$.rotateCW.play();
        }
  			this.$.collapse.toggle();
  		},
  		created: function() {
  			this.super();
        this.placeholder="Search";
  			//this.zs_.add({'zafiro:search:done': 'zfSearch'});
  		},
  		ready: function() {
        //call zafiro-base ready method
  			this.super();

        this.zfConfigChanged();

        //Animation for dropdown icon
        var self = this;
        this.$.rotateCCW.addEventListener('core-animation-finish', function() {
          self.$.colIcon.icon = 'arrow-drop-down';
        });
        this.$.rotateCW.addEventListener('core-animation-finish', function() {
          self.$.colIcon.icon = 'arrow-drop-up';
        });
  		},
      zfConfigChanged: function() {
        //Hide dropdown if no configuration was found
        if(!this.zfConfig) {
          this.$.colIcon.className = 'hidden';
        } else {
          this.$.colIcon.className = '';
        }
      },
  		fireSearch: function() {
  			/*this.tokenArray = this.tokenArray.filter(function(token, index) {
   				if(token.key == 'allFields') {
   					return false;
   				}
   				return true;
   			});
   			var allFieldsText = this.allFields.join(' ');*/
  			this.ngModel.allFields = this.allFields.join(' ');
  			this.fire('search')
  		}
  	});
  </script>
</polymer-element>