<link rel="import" href="../../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../../bower_components/paper-input/paper-autogrow-textarea.html">
<link rel="import" href="../zafiro-base/zafiro-base.html">
<link rel="import" href="zafiro-form-input.html">
<link rel="import" href="zafiro-form-select.html">
<link rel="import" href="zafiro-form-textarea.html">


<polymer-element name="zafiro-form" extends="zafiro-base" attributes="zfConfig">
	<style>
		
	</style>
	<template>
		<form id="form">
		</form>
	</template>
	<script>
		Polymer({
			publish: {
				"ng-model": {
					value: {},
					reflect: true
				}
			},
			created: function() {
				this.super();
				this.zs_.add('zfConfig');
			},
			ready: function() {
				this.super();
				this.zfConfigChanged();
				this.ngModel = this.ngModel||{};
			},
			zfConfigChanged: function() {
				this.$.form.innerHTML = '';
				try{
					typeof this.zfConfig=='string' && (this.zfConfig = JSON.parse(this.zfConfig));
				} catch(e) {

				}

				if(!this.zfConfig || typeof this.zfConfig != 'object') {
					return this.$.form.innerHTML = '<div class="message">No hay formulario para mostrar</div>'
				}

				for(var elemId in this.zfConfig) {
					var conf = this.zfConfig[elemId];
					conf.element = conf.element || 'input';

					if(['input', 'select', 'textarea'].indexOf(conf.element) == -1) {
						//Form Element type not supported.
						delete this.zfConfig[elemId];
						continue;
					}

					conf.element == 'input' && (conf.type = conf.type || 'text');

					this.ngModel[elemId] = this.ngModel[elemId]||"";

					var elem = document.createElement('zafiro-form-'+conf.element);
					elem.setConfig(conf);
					elem.setModel(this.ngModel, elemId);
					this.$.form.appendChild(elem);
				};
			}
		});
	</script>
</polymer-element>