<link rel="import" href="../../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../../bower_components/paper-input/paper-autogrow-textarea.html">
<link rel="import" href="../zafiro-base/zafiro-base.html">

<polymer-element name="zafiro-form-textarea" extends="zafiro-base" attributes="zfconfig">
	<template>
		<paper-input-decorator label="{{zfconfig.label}}" floatingLabel autoValidate>
			<textarea id="{{elemId}}" value="{{model[elemId]}}"/></textarea>
		</paper-input-decorator>
	</template>
	<script>
		Polymer({
			setConfig: function(zfconfig) {
				this.zfconfig = zfconfig;
				for(var i in zfconfig.atts) {
					this.$[this.id].setAttribute(i, zfconfig.atts[i]);
				}
			},
			setModel: function(model, elemId) {
				this.model = model;
				this.elemId = elemId;
			}
		});
	</script>
</polymer-element>