<polymer-element name="zafiro-base" attributes="ngModel">
<script>
	var zs = function() {
		this.attrs=['ngModel'];
		this.origValues={};
		this.reverseValues={};
		this.evts={}
	};

	zs.prototype.add = function(attr) {
		if(attr instanceof Array) {
			var self = this;
			attr.forEach(function(a) {
				if(typeof a == 'string') {
					self.attrs.push(a);
				} else if (typeof a == 'object') {
					for(var i in a) {
						!self.evts[i] && (self.evts[i] = []);
						self.evts[i].indexOf(a[i])==-1 && self.evts[i].push(a[i]);
					}
				}
			});
		} else if(typeof attr == 'string') {
			this.attrs.push(attr);
		} else if (typeof attr == 'object') {
			for(var i in attr) {
				!this.evts[i] && (this.evts[i] = []);
				this.evts[i].indexOf(attr[i])==-1 && this.evts[i].push(attr[i]);
			}
		}
	};

	Polymer({
		scoped: function() {
			//Override this function to work with scoped elements
		},
		zfScopeChanged: function(change, path) {
			//Override this function to work with changed scoped elements
		},
		digScopeElem: function(path, name) {
			if(!path.length) {
				!this.scope.hasOwnProperty(name) && (this.scope[name] = {});
				return {elem: this.scope, prop: this.zs_.origValues[name]};
			}
			var tmpPath = [];
			path.forEach(function(step) {
				tmpPath.push(step);
			});
			var scopeProp = this.zs_.origValues[tmpPath.shift()];
			if(scopeProp) {
				!this.scope.hasOwnProperty(scopeProp) && (this.scope[scopeProp] = {});
				var scopeElem = this.scope[scopeProp];
				while(tmpPath.length) {
					scopeProp = tmpPath.shift();
					!scopeElem.hasOwnProperty(scopeProp) && (scopeElem[scopeProp] = {});
					scopeElem = scopeElem[scopeProp];
				}
				!scopeElem.hasOwnProperty(name) && (scopeElem[name] = {});
				return {elem: scopeElem, prop: name};
			}
			return undefined;
		},
		digSelfElem: function(path, name) {
			//tmpPath.push(name);
			if(!path.length) {
				!this.hasOwnProperty(name) && (this[name] = {});
				return {elem: this, prop: this.zs_.reverseValues[name]};
			}
			var tmpPath = [];
			path.forEach(function(step) {
				tmpPath.push(step);
			});
			var selfProp = this.zs_.reverseValues[tmpPath.shift()];
			if(selfProp && selfProp != 'scope') {
				!this.hasOwnProperty(selfProp) && (this[selfProp] = {});
				var selfElem = this[selfProp];
				while(tmpPath.length) {
					selfProp = tmpPath.shift();
					!selfElem.hasOwnProperty(selfProp) && (selfElem[selfProp] = {});
					selfElem = selfElem[selfProp];
				}
				!selfElem.hasOwnProperty(name) && (selfElem[name] = {});
				return {elem: selfElem, prop: name};
			}
			return undefined;
		},
		created: function() { 
			this.zs_= new zs();
			this.setAttribute('zf-polymer', true);
			!this.scope && this.fire("zafiro:base:scopeLookup", {elem: this});
		},
		ready: function() { 
			!this.scope && this.fire("zafiro:base:scopeLookup", {elem: this});
		},
		attached: function() { 
			!this.scope && this.fire("zafiro:base:scopeLookup", {elem: this});
		},
		domReady: function() { 
			!this.scope && this.fire("zafiro:base:scopeLookup", {elem: this});
		},
		setScope: function(scope) {
			this.scope = scope;
			var self = this;

			Array.prototype.forEach.call(this.attributes, function(attribute) {
				var m;
				if(m = attribute.name.match(/^\(([\w-]+)\)$/)) {
					var prefix = self.nodeName.split('-').join(':').toLowerCase();
					var evt = {};
					evt[prefix+':'+m[1]] = m[1];
					self[m[1]] = attribute.nodeValue;
					self.zs_.add(evt);
				}
				if(m = attribute.name.match(/^\[([\w-]+)\]$/)) {
					self[m[1]] = attribute.nodeValue;
					self.zs_.add(m[1]);
				}
			});

			var mkObserver = function(obj, cb, path) {
				if(!obj || typeof obj != 'object') return;
				path = path || [];
				Object.observe(obj, function(changes) {
					changes.forEach(function(change) {
						if(['add', 'update'].indexOf(change.type) !== -1) {
							var tmpPath = [];
							path.forEach(function(step) {
								tmpPath.push(step);
							});
							tmpPath.push(change.name);
							mkObserver(obj[change.name], cb, tmpPath);
						}
					});
					cb && cb(changes, path);
				});
				for(var i in obj) {
					var tmpPath = [];
					path.forEach(function(step) {
						tmpPath.push(step);
					});
					tmpPath.push(i);
					mkObserver(obj[i], cb, tmpPath);
				}
			};

			this.zs_.attrs.forEach(function(attrName) {
				var scopeProp = self[attrName];
				self.zs_.origValues[attrName] = scopeProp;
				self.zs_.reverseValues[scopeProp] = attrName;
				self[attrName] = self.scope[scopeProp];

				/*mkObserver(self[attrName], function(changes, path) {
					changes.forEach(function(change) {
						var se = self.digScopeElem(path, change.name);
						if(se !== undefined && change.object[change.name] != se.elem[se.prop]) {
							se.elem[se.prop] = change.object[change.name];
						}
					});
				}, [attrName]);*/

				mkObserver(self.scope[scopeProp], function(changes, path) {
					self.scope.$apply();
					self.zfScopeChanged(changes, path);
					/*changes.forEach(function(change) {
						var se = self.digSelfElem(path, change.name);
						if(se !== undefined && change.object[change.name] != se.elem[se.prop]) {
							self.scopeChanged(change, path);
							se.elem[se.prop] = change.object[change.name];
						}
					});*/
				}, [scopeProp]);

			});

			for(var i in this.zs_.evts) {
				this.addEventListener(i, function(e) {
					self.zs_.evts[i].forEach(function(evalAttr) {
						if(self[evalAttr] !== undefined)
							self.scope.$eval(self[evalAttr]);
					});
					e.preventDefault();
				});
			}
			if(this.scoped() !== false) {
				var zfElems = this.shadowRoot.querySelectorAll('*[zf-polymer=true]');
				Array.prototype.forEach.call(zfElems, function(zfElement) {
					zfElement.setScope(scope);
				});
			};
		}
	})
</script>
</polymer>